/*
Colors used:
White: #FFFFFF;
Black: #000000;
Purple: #960096;
Light grey: #f2f4f5;
Blue: #1846de;
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #f2f4f5;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #000;
}

/* typography */
h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.48em;
  font-weight: 700;
}

h2 {
  font-size: 2.07em;
  font-weight: 700;
}

h3 {
  font-size: 1.72em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

/* links */
a {
  color: #1846de;
}

a:visited {
  color: #1846de;
}

a:hover,
a:focus {
  color: #960096;
}

a:active {
  color: #1846de;
}

/* button primary */
.button,
.button:visited {
  display: inline-block;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 3px;
  transition: 0.2s opacity;
  margin-top: 20px;
}

.button:hover,
.button:focus {
  opacity: 0.5;
}

/* button secondary */
.button.secondary {
  background-color: transparent;
  color: #000;
  border: 2px solid #000;
}

.button.secondary:hover,
.button.contact:focus {
  background-color: #000;
  color: #fff;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}

.logo,
.logo:visited {
  max-width: 250px;
  line-height: 2.4;
  padding-left: 10px;
  color: #000;
  text-decoration: none;
}

.logo:hover,
.logo:focus {
  max-width: 250px;
  color: #960096;
  text-decoration: none;
}

#hero {
  background-color: #f2f4f5;
  padding: 60px 0 40px;
  display: inline-block;
  text-align: center;
  width: 100%;
}

#work {
  background-color: #fff;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#work h2 {
  text-align: center;
}

#work .row {
  border: 1px solid #d2d3d4;
  padding: 10px;
}

#my-process {
  background-color: #fff;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#bexz-hero {
  background-color: #fff;
  padding: 60px 0 0;
  display: inline-block;
  width: 100%;
}

#bexz-hero h1 {
  text-align: center;
}

#my-process h2 {
  text-align: center;
}

#about {
  background-color: #fff;
  display: inline-block;
  width: 100%;
}

#about-hero {
  background-color: #fff;
  padding: 50px 0 10px;
}

#about-hero h1 {
  text-align: center;
}

#skills-tools {
  background-color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: left;
}

#skills-tools h3 {
  margin-left: 20px;
}

#about-page h3 {
  margin-top: 0;
}

#my-story {
  background-color: #fff;
}

header {
  background-color: #f2f4f5;
  padding: 10px 0;
  box-shadow: 0 1px 11px 0 rgba(50, 50, 50, 0.47);
  position: fixed;
  width: 100%;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li > a,
nav > ul > li > a:visited {
  padding: 0 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  color: #000;
}

nav > ul > li > a:hover,
nav > ul > li > a:focus {
  padding: 0 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  color: #960096;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding: 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 4px 0;
}

footer {
  text-align: center;
  border-top: 3px solid #000;
}

i {
  padding: 10px;
}

.social a {
  text-decoration: none;
}

/* animations */
@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation: 15s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  body {
    font-size: 18px;
  }

  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  nav > ul {
    margin: 1em 0;
  }

  main {
    padding-top: 99px;
  }

  nav > ul > li {
    display: inline-block;
  }

  #hero span {
    display: block;
  }

  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }

  [class*="col-"] {
    float: left;
    padding: 20px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .logo {
    width: auto;
    max-width: 250px;
    float: left;
    padding: 16px;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  #skills-tools h2 {
    text-align: center;
  }

  #my-story {
    text-align: center;
  }

  #work h3 {
    margin-top: 12px;
    margin-bottom: 0;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-md-1 {
    width: 8.33%;
  }

  .col-md-2 {
    width: 16.66%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.33%;
  }

  .col-md-5 {
    width: 41.66%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.33%;
  }

  .col-md-8 {
    width: 66.66%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.33%;
  }

  .col-md-11 {
    width: 91.66%;
  }

  .col-md-12 {
    width: 100%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  #skills[class*="col-"] {
    padding-top: 0;
  }

  #my-story {
    text-align: left;
  }

  #skills-tools h2 {
    text-align: left;
    padding-left: 35px;
  }
}
