/*
Colors used:
White: #FFFFFF;
Black: #000000;
Yellow: #F0DE46;
Light grey: #f2f4f5;
Light blue: #c3dae6;
*/
body {
  background-color: #f2f4f5;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #000000;
}

/* typography*/
h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.48em;
  font-weight: 700;
}

h2 {
  font-size: 2.07em;
  font-weight: 700;
}

h3 {
  font-size: 1.72em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

/* links */
a {
  color: #1846de;
  /* orange */
  text-decoration: none;
}

a:visited {
  color: ##ffffff;
  /* orange */
  text-decoration: none;
}

a:hover,
a:focus {
  color: #1846de;
  /* green */
  text-decoration: underline;
}

a:active {
  color: #1846de;
  /* blue */
}

/* button primary */
.button {
  display: inline-block;
  background-color: #000000;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 300;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 3px;
  transition: 0.2s opacity;
  margin-top: 20px;
}

.button:hover,
.button:focus {
  opacity: 0.5;
  color: #ffffff;
  text-decoration: none;
}

/* button secondary */
.button.secondary {
  background-color: transparent;
  color: #000000;
  border: 2px solid #000000;
}

.button.secondary:hover,
.button.contact:focus {
  background-color: #000000;
  color: #ffffff;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}

#hero h1,
#hero p {
  text-align: center;
}

#hero {
  background-color: #f2f4f5;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#contact {
  text-align: center;
  border-top: 3px solid #000000;
}

#work {
  background-color: #ffffff;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#work h2 {
  text-align: center;
}

#work .row {
  border: 1px solid #d2d3d4;
  padding: 10px;
}

#my-process {
  background-color: #ffffff;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#bexz-hero {
  background-color: #ffffff;
  padding: 40px 0;
  display: inline-block;
  width: 100%;
}

#bexz-hero h1 {
  text-align: center;
}

#my-process h2 {
  text-align: center;
}

#about,
#about-hero {
  background-color: #ffffff;
  padding: 40px 0;
  display: inline-block;
  width: 100%;
}

#about-hero h1 {
  text-align: center;
}

#skills-tools {
  background-color: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: left;
}

#skills-tools h3 {
  margin-left: 20px;
}

#about-page h3 {
  margin-top: 0;
}

#my-story {
  background-color: #ffffff;
  margin-bottom: 20px;
}

.logo {
  max-width: 250px;
  color: #000000;
}

header {
  background-color: #f2f4f5;
  text-align: center;
  padding: 10px 0;
  box-shadow: 0px 1px 11px 0px rgba(50, 50, 50, 0.47);
  position: fixed;
  width: 100%;
}

main {
  padding-top: 102px;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 10px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
}

i {
  padding: 10px;
}

/* animations*/
@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation: 15s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  main {
    padding-top: 99px;
  }

  body {
    font-size: 18px;
  }

  #hero span {
    display: block;
  }

  .col-md-6 {
    width: 50%;
    float: left;
    padding: 15px;
  }

  [class*="col-"] {
    float: left;
    padding: 20px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #skills-tools h2 {
    text-align: center;
  }

  #my-story {
    text-align: center;
  }

  #work h3 {
    margin-top: 12px;
    margin-bottom: 0;
  }

  .logo {
    width: auto;
    float: left;
    margin-top: 10px;
    border: 1px solid #000000;
    padding: 8px 16px;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-7 {
    width: 60%;
    float: left;
    padding: 15px;
    margin-right: 25px;
  }

  .col-lg-5 {
    width: 30%;
    float: right;
    padding-top: 0;
    }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  #my-story {
    text-align: left;
  }



}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {}

/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (min-width: 1920px) {}
